<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/createone.css') }}">
    <link rel="icon" href="{{ url_for('static', filename='images/images-2-removebg-preview.png') }}">
    <title>MH ESISA BANK</title>
</head>
<body class="body">
    <form action="{{ url_for('loguser') }}" method="post">
        <h1 id="H1">WELCOME TO YOUR ESPACE BANK</h1>
        <div class="container">
            <div class="logo-section">
                <img class="rotate1" src="{{ url_for('static', filename='images/images-2-removebg-preview.png') }}" alt="logo BANK">
                <a href="{{ url_for('static', filename='images/1730419992824.jpeg') }}">
                    <h1 class="bank-name">MH ESISA BANK</h1>
                </a>
            </div>
            <div class="form-section">
                <h2>Enter Your Information</h2>
                {% if error %}
                    <p style="color:red;">{{ error }}</p>
                {% endif %}
                <label for="account-number">Email</label>
                <input id="account-number" name="Email" class="input-field" type="email" placeholder="Enter your Email" required>
                <label for="password">Your Password</label>
                <input id="password" name="password" class="input-field" type="password" placeholder="Enter password" required>
                
                <button type="submit" class="btn">Sign in</button>
            </div>
        </div>
    </form>
</body>
</html>